# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# SQLAlchemy / sqlite
*.sqlite3

# Misc
dist/
build/
*.egg-info/